.left{
  margin-left: 50%;
  transform: translateX(-50%);
}

ol {
  background: #ff9999;
  padding: 20px;
}
ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}

a:visited {
  color: orange;
}

a:hover {
  color: yellow;
}

a:active {
  color: blue;
}
